<!DOCTYPE html>
<html lang="en">

<body>
    <center>
        <h1>Welcome</h1>
        <h2>Create Account</h2>
        <form action="/create" method="POST">
            <table>
                <tr>
                    <td><input type="text" name="username" placeholder="Username"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><button type="submit">Create</button></td>
                </tr>
            </table>
        </form>
        <p>If you have an account, please <a href="/loginPage">Login</a></p>
    </center>
</body>

</html>