<!DOCTYPE html>
<html lang="en">

<body>
    <center>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td><input type="text" name="username" placeholder="Username"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Password"></td>
                </tr>
                <tr>
                    <td><button type="submit">Login</button></td>
                </tr>
            </table>
        </form>
        <p>If you don't have an account, please <a href="/">Create Account</a></p>
    </center>
</body>