<!DOCTYPE html>
<html lang="en">

<body>
    <center>
        <h1>You are logged out.</h1>
        <p>Please log in with your Username and Password.</p>
        <p>Click <a href="/loginPage">Log in</a> </p>
    </center>
</body>

</html>